<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>blast1.png</key>
		<dict>
			<key>frame</key>
			<string>{{289, 143}, {86, 86}}</string>
			<key>offset</key>
			<string>{5, 8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{62, 49}, {86, 86}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>blast2.png</key>
		<dict>
			<key>frame</key>
			<string>{{169, 143}, {118, 104}}</string>
			<key>offset</key>
			<string>{7, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48, 42}, {118, 104}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>blast3.png</key>
		<dict>
			<key>frame</key>
			<string>{{169, 1}, {140, 122}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31, 40}, {140, 122}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>blast4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {172, 166}}</string>
			<key>offset</key>
			<string>{4, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18, 16}, {172, 166}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>textureFileName</key>
		<string>blast.png</string>
	</dict>
</dict>
</plist>
