<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tomatocolor</key>
	<dict>
		<key>angry</key>
		<string>assets/angry/color.png</string>
		<key>funny</key>
		<string>assets/funny/color.png</string>
		<key>happy</key>
		<string>assets/happy/color.png</string>
		<key>sick</key>
		<string>assets/sick/color.png</string>
		<key>skull</key>
		<string>assets/skull/color.png</string>
		<key>dangry</key>
		<string>assets/angry/color.png</string>
		<key>dfunny</key>
		<string>assets/funny/color.png</string>
		<key>dhappy</key>
		<string>assets/happy/color.png</string>
		<key>dsick</key>
		<string>assets/sick/color.png</string>
	</dict>
	<key>tomatored</key>
	<dict>
		<key>angry</key>
		<string>assets/angry/red.png</string>
		<key>funny</key>
		<string>assets/funny/red.png</string>
		<key>happy</key>
		<string>assets/happy/red.png</string>
		<key>sick</key>
		<string>assets/sick/red.png</string>
		<key>skull</key>
		<string>assets/skull/red.png</string>
	</dict>
	<key>items</key>
	<array>
		<string>angry</string>
		<string>funny</string>
		<string>happy</string>
		<string>sick</string>
		<string>skull</string>
		<string>dangry</string>
		<string>dfunny</string>
		<string>dhappy</string>
		<string>dsick</string>
	</array>
	<key>friend</key>
	<array>
		<string>angry</string>
		<string>funny</string>
		<string>happy</string>
		<string>sick</string>
	</array>
	<key>danger</key>
	<array>
		<string>skull</string>
	</array>
	<key>ok</key>
	<array>
		<string>dangry</string>
		<string>dfunny</string>
		<string>dhappy</string>
		<string>dsick</string>
	</array>
	<key>highscore</key>
	<integer>0</integer>
</dict>
</plist>
